{% extends "/layout/loggedin.twig" %}

{% block title %}Schulden Übersicht{% endblock %}

{% block content %}

    <h2 class="title"><a href="#">Übersicht</a></h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
        <h3>Forderungen</h3>

        <form action="/index.php/debt/status" method="post">
        <table class="debt">
            <thead>
                <td>Schuldner</td>
                <td>Gläubiger</td>
                <td>Wert</td>
                <td>Akzeptieren</td>
                <td>Löschen</td>
            </thead>
            {% for credit in user.credits %}
                <tr class="{% if credit.isActive %}active {% else %} inactive {% endif %}">
                    <td>{{ credit.debitor.username }}</td>
                    <td>{{ credit.creditor.username }}</td>
                    <td>{{ credit.value}}</td>
                    <td>
                        {% if not credit.isActive and credit.activeStatus != user.id %}
                            <input type="checkbox" name="debt[{{user.id}}]" value="{{credit.id}}">
                        {% endif%}
                    </td>
                    <td>
                        {% if credit.isActive and credit.deleteStatus != user.id %}
                            <input type="checkbox" name="delete[{{user.id}}]" value="{{credit.id}}">
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Verbindlichkeiten</h3>
        <table class="debt">
            <thead>
                <td>Schuldner</td>
                <td>Gläubiger</td>
                <td>Wert</td>
                <td>Akzeptieren</td>
                <td>Löschen</td>
            </thead>
            {% for debit in user.debits %}
                <tr class="{% if debit.isActive %}active {% else %} inactive {% endif %}">
                    <td>{{ debit.debitor.username }}</td>
                    <td>{{ debit.creditor.username }}</td>
                    <td>{{ debit.value }}</td>

                    <td>
                        {% if not debit.isActive and debit.activeStatus != user.id %}
                            <input type="checkbox" name="activate[{{user.id}}]" value="{{debit.id}}">
                        {% endif%}
                    </td>
                    <td>
                        {% if debit.isActive and debit.deleteStatus != user.id %}
                            <input type="checkbox" name="delete[{{user.id}}]" value="{{debit.id}}">
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
        </table>
            <input type="submit">
        </form>
    </div>

{% endblock %}
